// 此文件为uView的主题变量，这些变量目前只支持通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-primary: #2979ff;
$u-primary-light: #ecf5ff;
$u-primary-disabled: #a0cfff;
$u-primary-dark: #2b85e4;

$u-warning: #ff9900;
$u-warning-disabled: #fcbd71;
$u-warning-dark: #f29100;
$u-warning-light: #fdf6ec;

$u-success: #19be6b;
$u-success-disabled: #71d5a1;
$u-success-dark: #18b566;
$u-success-light: #dbf1e1;

$u-error: #fa3534;
$u-error-disabled: #fab6b6;
$u-error-dark: #dd6161;
$u-error-light: #fef0f0;

$u-info: #909399;
$u-info-disabled: #c8c9cc;
$u-info-dark: #82848a;
$u-info-light: #f4f4f5;

// 兼容旧版本的变量名
$u-type-primary: $u-primary;
$u-type-warning: $u-warning;
$u-type-success: $u-success;
$u-type-error: $u-error;
$u-type-info: $u-info;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

page {
	background: linear-gradient(125deg, #f15729, #96f38b, #181894) !important;
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	// padding-top: var(--status-bar-height);
	padding-bottom: constant(safe-area-inset-bottom); /* iOS < 11.2 */
	padding-bottom: env(safe-area-inset-bottom); /* iOS >= 11.2 */
	overflow: hidden;
	position: relative;
	&::before {
		content: "";
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// bottom: 0;
		// background: linear-gradient(
		// 	180deg,
		// 	rgba(15, 12, 41, 0.7),
		// 	rgba(36, 36, 62, 0.3)
		// );
		// z-index: 0;
		// pointer-events: none;
	}
	& > view {
		flex: 1;
		overflow: hidden;
		padding-top: 88px !important;
	}

	.scrollBoxAfter {
		width: 100%;
		height: 280rpx;
	}
}

.u-popup__content {
	width: 80%;
}
.popup-content {
	padding: 30rpx;
	// width: 100%;
	background-color: #fff;
	border-radius: 16rpx;
	box-shadow: 0 4rpx 20rpx rgba(0, 0, 0, 0.15);
}

.popup-title {
	color: #333;
	font-size: 32rpx;
	font-weight: 600;
	margin-bottom: 30rpx;
	text-align: center;
	padding-bottom: 15rpx;
	border-bottom: 1rpx solid #f0f0f0;
}
.popup-actions {
	display: flex;
	margin-top: 40rpx;
	text-align: center;

	.u-button {
		width: 160rpx !important;
	}
}
