// 此文件为uView的主题变量，这些变量目前只支持通过uni.scss引入才有效，另外由于
// uni.scss中引入的样式会同时混入到全局样式文件和单独每个页面的样式中，造成微信程序包太大，
// 故uni.scss只建议放scss变量名相关样式，其他的样式可以通过main.js或者App.vue引入

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-primary: #2979ff;
$u-primary-light: #ecf5ff;
$u-primary-disabled: #a0cfff;
$u-primary-dark: #2b85e4;

$u-warning: #ff9900;
$u-warning-disabled: #fcbd71;
$u-warning-dark: #f29100;
$u-warning-light: #fdf6ec;

$u-success: #19be6b;
$u-success-disabled: #71d5a1;
$u-success-dark: #18b566;
$u-success-light: #dbf1e1;

$u-error: #fa3534;
$u-error-disabled: #fab6b6;
$u-error-dark: #dd6161;
$u-error-light: #fef0f0;

$u-info: #909399;
$u-info-disabled: #c8c9cc;
$u-info-dark: #82848a;
$u-info-light: #f4f4f5;

// 兼容旧版本的变量名
$u-type-primary: $u-primary;
$u-type-warning: $u-warning;
$u-type-success: $u-success;
$u-type-error: $u-error;
$u-type-info: $u-info;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;
